{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <a href="/">Home</a>
    <a href="about">About Us</a>
    <a href="contact">Contact Us</a>
    <section class="intro">
        <div class="profile-pic"></div>
        <h2>Hi, I'm Tamilore</h2>
        <p>Front-End Developer And Full-Stack Developer</p>
        <div class="socials">
            <i class="fa-brands fa-linkedin fa-xl" style="color: #fff;"></i>
            <i class="fa-brands fa-square-x-twitter fa-xl" style="color: #fff;"></i>
            <i class="fa-brands fa-github fa-xl" style="color: #fff;"></i>
            <i class="fa-brands fa-instagram fa-xl" style="color: #fff;"></i>
        </div>

        <button type="button" class="button1"> Download Resume</button>
      </section>
</body>
</html>