{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <a href="/">Home</a>
    <a href="about">About Us</a>
    <a href="contact">Contact Us</a>
    <section class="why-choose">
        <div class="image a">

        </div>
        <div class="notes">
            <h1>
                <span>WHY</span>
                <span>CHANCELLORS</span>
                <span>IS</span>
                <span>BEST</span>
                <span>FOR</span>
                <span>YOUR</span>
                <span>CHILDREN</span>
              </h1>
            <li class="lineUp">Grooming towards developing quality leadership skills with sense of responsibility and accountability.</li>
            <li class="lineUp">Mentoring towards developing sound analytical and thinking skills towards providing solutions to medium and complex challenges.
            </li>
            <li class="lineUp">Training towards becoming an excellent, confident, and innovative personality with transnational mindset.
            </li>
            <li class="lineUp">Exposure to teaching methods that meet local and globally acceptable standards and best practices.</li>
            <li class="lineUp">Exposure to techniques that make it easy and possible to compete on a global stage.</li>
            <!-- <p>The Chancellors School commenced community-focused educational services in January 2014, however, the school obtained government approval/licence in January 2022 to carry out educational services at preschool and elementary levels.</p> -->
        </div>
    </section>
    <img src="{% static 'images/img1.avif' %}" alt="">
</body>
</html>