{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style2.css' %}">
</head>

<body>
    <a href="/" style="color: black;">Home</a>
    <a href="about" style="color: black;">About Us</a>
    <a href="contact" style="color: black;">Contact Us</a>
    <section class="contact-us">
        <h1>L O G I N</h1>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Name" spellcheck="true" pattern="[a-z]+" />
            <input type="text" name="password" inputmode="password" placeholder="Password" pattern="[0-9]+" />
            <button type="submit" name="submit" value="submit" class="btn1">SUBMIT</button>
            <p>Don't have an account?</p>

            <button type="button" class="btn1">
                <a href="{% url 'contact' %}">SIGN UP</a>
            </button>
        </form>

    </section>
</body>

</html>