*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #fff;
}

.spinner {
    width: 40px;
    height: 40px;
    background-color: #000;
    position: absolute;
    top: 48%;
    left: 48%;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}
  
@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}
  
@keyframes sk-rotateplane {
0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
} 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
} 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
}
}
  
.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 999999;
}

.myNavbar{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 50px;
}

.navbar-brand{
    width: 30%;
    letter-spacing: 2px;
    color: rgb(170, 33, 33);
}

.navbar-brand:hover{
    color: red;
}

.navbar-nav{
    width: 50%;
    justify-content: space-between;
    /* border: 1px solid red; */
}

/* .nav-item:hover{
    border-bottom: 2px solid red;
} */

.navbar-nav li:after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: red;
    transition: width .3s;
}

.navbar-nav li:hover:after {
    width: 100%;
    transition: width .3s;
}

.nav-item a{
    letter-spacing: 3px;
    color: #fff;
}

.nav-item a:hover{
    letter-spacing: 3px;
    color: #fff;
}

.nav-item a:active{
    letter-spacing: 3px;
    color: #fff;
}

.dropdown-menu{
    background-color: black;
}

.dropdown-menu .dropdown-item:hover{
    background-color: red;
    color: #fff;
    /* border-bottom: 2px solid red; */
}

.d-flex{
    display: flex;
    flex-direction: row;
}

.d-flex input{
    width: 200px;
}

.d-flex button{
    width: 80px;
    background: #000;
    color: #fff;
    border: 1px solid #fff;
}

.d-flex .btn_btnn{
    width: 80px;
    background: #000;
    border: none;
    border-radius: 5px
}

.btn_btnn:hover{
    background: #fff;
    color: #000;
}

.welcome-banner{
    width: 100%;
    height: 500px;
    background-color: #fff;
    /* background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
    /* border: 1px solid red; */
    padding: 120px 100px;
}

.welcome-banner h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 3.5px;
}

.welcome-banner p{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}

.welcome-banner button{
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    letter-spacing: 2px;
}

.welcome-banner button:hover{
    background-color: red;
    transition: 0.5s;
    transform: scale(1.1);
    transition: .5s ease;
}

.top-picks{
    width: 100%;
    height: auto;
    background-color: rgb(170, 33, 33);
    padding: 60px 60px;
}

.top-picks h2{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    letter-spacing: 3.5px;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 40px;
}

.the-picks{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
}

.card-title{
    font-family: 'Montserrat', sans-serif;
}

.card-text{
    font-family: 'Montserrat', sans-serif;
}

.card img{
    height: 230px;
}

.cart-btn{
    background-color: #000;
    color: #fff;
    letter-spacing: 2px;
    /* transition: .5s; */
}

.cart-btn:hover{
    transform: scale(1.1);
    transition: .5s ease;
}